.center{
    margin-top:200px;
    margin-left: 535px;
    padding: 30px;
    width: 930px;
    height: 590px;
    border-radius: 40px;}


.image
{   background-image:url("dk.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}